* {
  box-sizing: border-box;
}

body {
  margin-top: 40px;
  font-family:'Inter',sans-serif;
  background: #e5e5e5;
  /* Center the React card on the screen */
  display: flex;
  justify-content: center;
  height: 100vh;
}


/* Container Styling */
.container {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: whitesmoke;
  margin: 0;
  padding: 20px;
}


/* Card styling */

.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.contact-card {
  flex-basis: 225px;
   border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

.contact-card > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.contact-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group > img {
  height: 11px;
  margin-right: 8px;
}

.info-group > p {
  margin-block: 3px;
  font-size: 12px;
  color: #2B283A;
}